$active-color: #c8c8c8;
$inactive-color: #dddddd;
$light-color: #eeeeee;
$font-color: #333333;
$red-color: #ff0000;
$blue-color: #0b8ff9;
$bg-color: rgba(0, 0, 0, 0.03);
$white-color: #ffffff;
$border-color: #cccccc;
$placeholder: #555;
$sub-color: grey;

h1 {
    font-weight: 700;
    font-size: 1.8em;
    line-height: 150%;
    color: $font-color;
    margin: 20px 0px 10px 0px;
    letter-spacing: 0.14em;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1.45em;
    line-height: 150%;
    color: $font-color;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $font-color;
    margin: 0 0 20px 0;
}

.red {
    color: $red-color;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $font-color;
    margin: 0 0 1.04vw 0;
}

.select {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid $sub-color !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin: 25px 0;

    &:focus {
      outline: none;
    }
}

.icon {
    position: absolute;
    top: 10px;
    right: 5px;
    color: $placeholder;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-wrapper-30 {
    width: 30%;

    @media (max-width: 900px) {
        width: 48%;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}
.input-wrapper-48 {
    width: 48%;

    @media (max-width: 500px) {
        width: 100%;
    }
}
.input-wrapper-65 {
    width: 65%;

    @media (max-width: 900px) {
        width: 100%;
    }
}
.input-wrapper-100 {
    width: 100%;
}