/**
******** GLOBAL ********
**/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --active-color: #c8c8c8;
  --inactive-color: #dddddd;
  --light-color: #eeeeee;
  --font-color: #333333;
  --red-color: #ff0000;
  --blue-color: #0b8ff9;
  --bg-color: #f8f8f8;
  --white-color: #ffffff;
  --border-color: #cccccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
